# Application
SOFAWATCH_APP_NAME=SofaWatch
SOFAWATCH_ENVIRONMENT=development
SOFAWATCH_DEBUG=true

# API
SOFAWATCH_API_HOST=0.0.0.0
SOFAWATCH_API_PORT=8000

# Database
SOFAWATCH_DATABASE_URL=sqlite:///./data/sofawatch.db

# Security
SOFAWATCH_SECRET_KEY=replace-with-a-long-random-secret

# Localization
SOFAWATCH_DEFAULT_LANGUAGE=en-US
SOFAWATCH_SUPPORTED_LANGUAGES=en-US,pt-PT

# TMDB
SOFAWATCH_TMDB_API_TOKEN=
SOFAWATCH_TMDB_BASE_URL=https://api.themoviedb.org/3
SOFAWATCH_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
SOFAWATCH_TMDB_TIMEOUT_SECONDS=20

# TVDB
SOFAWATCH_TVDB_API_KEY=
SOFAWATCH_TVDB_PIN=
SOFAWATCH_TVDB_BASE_URL=https://api4.thetvdb.com/v4

SOFAWATCH_METADATA_REFRESH_DAYS=7

# CORS
SOFAWATCH_CORS_ORIGINS=http://localhost:8081,http://127.0.0.1:8081,http://localhost:19006,http://127.0.0.1:19006

#Images
SOFAWATCH_IMAGE_STORAGE_PATH=./data/images

#RESET PASSWORD TOKEN EXPIRE
SOFAWATCH_ACCESS_TOKEN_EXPIRE_MINUTES=15

# LOGOUT 
SOFAWATCH_SESSION_IDLE_EXPIRE_DAYS=180